<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/mise_en_page.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        <img src="/image/3898.webp" width="150" height="150" class="fish fish_start1"/>
        <img src="/image/dauphin1.webp" width="150" height="150" class="fish fish_start2"/>
        <img src="/image/dauphin2.webp" width="150" height="150" class="fish fish_start3"/>
        <img src="/image/dauphin3.jpg" width="150" height="150" class="fish fish_start4"/>
        <img src="/image/australie.jpg" width="150" height="150" class="fish fish_start5"/>
        <img src="/image/titanic2.jpg" width="150" height="150" class="fish fish_start6"/>
        <img src="/image/volier.jpg" width="150" height="150" class="fish fish_start7"/>
        <img src="/image/titanic.jpg" width="150" height="150" class="fish fish_start8"/>
        <img src="/image/dinausore.jpg" width="150" height="150" class="fish fish_start9"/>
        <div class="Content">
            {% block body %}{% endblock %}
        </div>

        {% include 'layout/footer.html.twig' %}
    </body>
</html>
